<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi, {{name}}!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 32px;
            background-color: #f0f0f0;
            color: #333;
            margin-top: 30px;
            padding: 0;
            text-align: center;
        }
        
        .form_1 {
            font-size: 24px;
        }
        
    </style>
</head>


<body>
    <p><strong>Hello, {{name}}!</strong></p>
    <div class="form_1">
        <p>Name: {{name}}</p>
        <p>Age: {{age}}</p>
    </div>
</body>
