<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lyric Editor</title>
    <link rel="icon" href="../static/relife.ico">
</head>
<body>
    {% if logged_in %}
        <h1><a href="{{ url_for('index') }}" style="text-decoration: none; color: black">Welcome to Lyric Editor, {{ username }}!</a></h1>
        <img src="../static/index_pic.png" style="height: 225px; width: 225px"> <p style="font-size: 12px; display: inline">(Kumari Kojika from Witch on the Holy Night)</p>
        <form action="{{ url_for('logout') }}" method="get">
            <button type="submit">Logout</button>
        </form>
        <ol>
            {% for item in texts %}
                <p>ID: {{ item["id"] }}</p>
                <p>Text:</p>
                <pre><p>{{ item["content"][:200] }}...</p></pre><br>
                <form action="{{ url_for('edit_text', text_id=item['id']) }}" method="GET" style="display:inline;">
                    <button type="submit">Edit/Show</button>
                </form>
                <form action="{{ url_for('delete_text', text_id=item['id']) }}" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
                <p>------------------------------------------------------------------------------------------------------------</p><br>
            {% endfor %}
        </ol>
        <form action="{{ url_for('add_text') }}" method="get">
            <button type="submit">Add Text</button>
        </form>
    {% else %}
        <h1><a href="{{ url_for('index') }}" style="text-decoration: none; color: black">Welcome to the Site -- Lyric Editor!</a></h1>
        <p>This is a website is for those who want a friendly japanese-to-romaji lyric translation environment.
        <br><br>Here, you can look up information about a song, listen to recordings if applicable, and edit your romaji translation underneath.
        <br>It is still very basic though. Hope you enjoy it!
        <br><br>You need to log in before use this website. Please do not enter anything concerning your personal information!</p>
        <a href="{{ url_for('login') }}" style="color: black">Login</a> | <a href="{{ url_for('signin') }}" style="color: black">Sign In</a>
    {% endif %}
</body>
</html>
