<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Index</title>
    <link rel="icon" href="../static/relife.ico">
</head>
<body>
    {% if logged_in %}
        <h1><a href="{{ url_for('index') }}" style="text-decoration: none; color: black">Welcome, {{ username }}!</a></h1>
        <form action="{{ url_for('logout') }}" method="get">
            <button type="submit">Logout</button>
        </form>
         <ol>
            {% for item in texts %}
                <p>ID: {{ item["id"] }}</p>
                <p>Text:</p>
                <pre><p>{{ item["content"][:200] }}...</p></pre><br>
                <form action="{{ url_for('edit_text', text_id=item['id']) }}" method="GET" style="display:inline;">
                    <button type="submit">Edit</button>
                </form>
                <form action="{{ url_for('delete_text', text_id=item['id']) }}" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
                <p>------------------------------------------------------------------------------------------------------------</p><br>
            {% endfor %}
        </ol>
        <form action="{{ url_for('add_text') }}" method="get">
            <button type="submit">Add Text</button>
        </form>
    {% else %}
        <h1><a href="{{ url_for('index') }}" style="text-decoration: none; color: black">Welcome to the Site</a></h1>
        <a href="{{ url_for('login') }}" style="color: black">Login</a> | <a href="{{ url_for('signin') }}" style="color: black">Sign In</a>
    {% endif %}
</body>
</html>
